@model MyPhamCheilinus.Models.DanhMucSanPham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DanhMucSanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CachDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CachDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiTiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaCtloaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCtloaiNavigation.MaCtloai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHangNavigation.MaHang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaDanhMuc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
