﻿@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<MyPhamCheilinus.Models.DanhMucSanPham>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh mục sản phẩm" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    table thead th {
        background-color: #e6e6e6; /* Màu nền của đầu mục */
        color: #000; /* Màu chữ của đầu mục */
    }
</style>
</style>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Home">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Danh mục sản phẩm : page @CurrentPage</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="row card-body">
                        <div class="col-md-4">
                            <div class="col-md-12">
                                <div class="input-affix m-v-10">
                                    <i class="prefix-icon anticon anticon-search opacity-04"></i>
                                    <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm danh mục">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="d-md-flex">
                                <div class="col-lg-12 text-right">
                                    <a class="btn btn-primary" asp-controller="SanPhams" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i> <span>Thêm danh mục sản phẩm</span></a>
                                </div>
                            </div>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr class="text-center">
                                        <th>ID</th>
                                        <th>Tên danh mục sản phẩm</th>
                                        <th>Ảnh</th>
                                        <th>Giá</th>
                                     
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="records_table">
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr class="text-center align-middle">
                                                <td class="align-middle">@item.MaDanhMuc</td>
                                                <td class="align-middle">
                                                    <div class="d-flex align-items-center">
                                                        @item.TenDanhMuc
                                                    </div>
                                                </td>
                                                <td class="align-middle text-center" style="width: 15%;">
                                                    <img src="@Url.Content("~/images/DanhMucSanPham/" + item.HinhAnh)" alt="Ảnh sản phẩm" class="img-thumbnail" style="max-width: 200px; max-height: 100px;" />
                                                </td>
                                                <td class="align-middle">@item.Gia.Value.ToString("#,##0") VNĐ</td>
                                                <td class="align-middle">
                                                    <a class="btn btn-primary btn-tone m-r-5" asp-action="Details" asp-route-id="@item.MaDanhMuc">Chi tiết</a>
                                                    <a class="btn btn-success btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.MaDanhMuc">Sửa</a>
                                                    <a class="btn btn-danger btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.MaDanhMuc">Xóa</a>
                                                </td>
                                            </tr>

                                                @*<td>
                                                    @if (item.Slkho.Value > 0)
                                                    {
                                                        <div class="d-flex align-items-center">
                                                            <div class="badge badge-success badge-dot m-r-10">
                                                                <div>Còn hàng</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="d-flex align-items-center">
                                                            <div class="badge badge-success badge-dot m-r-10">
                                                                <div>Hết hàng</div>
                                                            </div>
                                                        </div>
                                                    }
                                                </td>*@                                            
                                        }
                                    }
                                </tbody>
                            </table>
                            <div aria-label="Page navigation example">
                                <ul class="pagination">
                                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="DanhMucSanPhams" asp-route-MaDM="@ViewBag.CurrentMaDM" asp-action="Index" />
                                </ul>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
</section>

<style>
    .image-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }

        .image-modal img {
            max-width: 90%;
            max-height: 90%;
        }
</style>

@section Scripts{

    <script>
        $(document).ready(function () {
            jQuery("#txtMaDM").change(function () {
                var maDM = jQuery(this).children(":selected").attr("value");

                $('#txtMaDM option').removeAttr('selected');
                $("#txtMaDM > [value='" + maDM + "']").attr("selected", "true");

                $.ajax({
                    url: '/Admin/DanhMucSanPhams/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        MaDM: maDM
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Admin/Search/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        //$("#loader").hide();
                        $("records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

            $('.image-link').click(function () {
                var imageUrl = $(this).data('image-url');
                if (imageUrl) {
                    var imageElement = $('<img>').attr('src', imageUrl).attr('alt', 'Hình ảnh sản phẩm');
                    var modal = $('<div>').addClass('image-modal').append(imageElement);
                    modal.appendTo('body');

                    modal.click(function (e) {
                        if (e.target === this) {
                            modal.remove(); // Đóng modal khi người dùng nhấn vào nó
                        }
                    });
                }
            });
        });

    </script>
}
