@model List<DonHang>

<h1>Thông tin đơn hàng</h1>
@{
    ViewData["Title"] = "San Pham Theo Hang";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

}


@if (Model != null && Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Trạng thái</th>
                <th>Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.MaDonHang</td>
                    <td>@order.TrangThaiDonHang</td>
                    <td>@order.TongTien</td>
                </tr>
                @if (order.ChiTietDonHangs != null && order.ChiTietDonHangs.Count > 0)
                {
                    <tr>
                        <td colspan="3">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Mã sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Giá bán</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var detail in order.ChiTietDonHangs)
                                    {
                                        <tr>
                                            <td>@detail.MaSanPham</td>
                                            <td>@detail.SoLuong</td>
                                            <td>@detail.GiaBan</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <p>Không có đơn hàng nào để hiển thị.</p>
}