@model IEnumerable<MyPhamCheilinus.Models.Role>
@{
    ViewData["Title"] = "Quản lý quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    
    <div class="card-body">
        <div class="col-lg-12 text-right">
            <a class="btn btn-primary" asp-controller="Roles" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i> <span>Thêm sản phẩm</span></a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tên người dùng
                    </th>
                    <th>
                        Mô tả
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="text-right">
                                <a class="btn btn-primary btn-tone m-r-5" asp-action="Details" asp-route-id="@item.RoleId">Chi tiết</a>
                                <a class="btn btn-success btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.RoleId">Sửa</a>
                                <a class="btn btn-danger btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.RoleId">Xóa</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>
